body{
    background-color: #000000;
    color: #d1d1d1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 250%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #d1d1d1;
}
footer{
    margin-top: 80px;
    font-family: arial, sans-serif;
}